# Azure 기본 설정
AZURE_LOCATION=
RESOURCE_GROUP_BACKEND=

# 전역 유니크해야 함
TFSTATE_STORAGE_ACCOUNT=
TFSTATE_CONTAINER_NAME=

# Azure Service Principal
ARM_CLIENT_ID=
ARM_CLIENT_SECRET=
ARM_SUBSCRIPTION_ID=
ARM_TENANT_ID=

# Atlantis 설정
ATLANTIS_GH_USER=
ATLANTIS_GH_TOKEN=
ATLANTIS_GH_WEBHOOK_SECRET=
ATLANTIS_REPO_ALLOWLIST=

ATLANTIS_CONTAINER_NAME=
ATLANTIS_DNS_LABEL=
ATLANTIS_IMAGE=